@{
    ViewData["Title"] = "Landing Page";
}

<div class="card">
    <div class="card-body">
        <strong>LANDING PAGE</strong>
        <br/>
        <span>(STILL WORKING ON IT)</span>
    </div>
</div>