@{
    ViewData["Title"] = "Mailbox";
    ViewData["Subtitle"] = "Mailbox";
}
<div class="card">
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-lg-3">
                <label>Role</label>
                <select class="form-control select2" id="ddlRole" name="roleId" bind-name="roleId" bind-trigger="change"></select>
            </div>
            <div class="col-lg-3">
                <label>Transaction Type</label>
                <select class="form-control select2" id="ddlTransactionType" name="transactionTypeId" bind-name="transactionTypeId" bind-trigger="change"></select>
            </div>
            <div class="col-lg-3">
                <label>Company</label>
                <select class="form-control select2" id="ddlCompany" name="companyId" bind-name="companyId" bind-trigger="change"></select>
            </div>
            <div class="col-lg-3">
                <label>From Bank Alias</label>
                <select class="form-control select2" id="ddlFromBankAlias" name="fromBankAliasId" bind-name="fromBankAliasId" bind-trigger="change"></select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-3">
                <label>StartDate</label>
                <div style="d-flex flex-column">
                    <div class="input-group date mb-2">
                        <input 
                            type="text" class="form-control datepicker" 
                            id="dtStartDate" name="startDate" bind-name="startDate" bind-type="datetime" 
                            autocomplete="off">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                    <span class="text-danger d-none" id="sdmessage">Startdate harus diisi</span>
                </div>
            </div>
            <div class="col-lg-3">
                <label>EndDate</label>
                <div style="d-flex flex-column">
                    <div class="input-group date mb-2">
                        <input 
                            type="text" class="form-control datepicker" 
                            id="dtEndDate" name="endDate" bind-name="endDate" bind-type="datetime"
                            autocomplete="off">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                    <span class="text-danger d-none" id="sdmessage">Startdate harus diisi</span>
                </div>
            </div>
            <div class="col-lg-3">
                <label>Search</label>
                <input type="text" class="form-control" id="txtSearch" name="searchKey" bind-name="searchKey" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-right">
                <button type="button" class="btn btn-md btn-secondary" id="btnReset">Reset Filter</button>
                <button type="button" class="btn btn-mdl btn-success" id="btnFilter">Filter + Search</button>
            </div>
        </div>

        <div class="resposivetable" style="margin-top:10px;">
            <table id="gridMailbox" class="table table-bordered table-hover" style="font-size: 13px;"></table>
        </div>
    </div>
</div>

@section scripts {
    @await Html.PartialAsync("~/Areas/Core/Views/Mailbox/Scripts/_Mailbox.cshtml")
}
