@{
    ViewData["Title"] = "Mailbox";
    ViewData["Subtitle"] = "Mailbox";
}
<div class="card">
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-lg-6">
                <input type="text" class="form-control w-50" id="txtSearch" placeholder="Search..." />
            </div>
        </div>
        <div class="resposivetable">
            <table id="gridOutgoingPayment" class="table table-bordered table-hover" style="font-size: 13px;"></table>
        </div>
    </div>
</div>

@section scripts {
    @await Html.PartialAsync("~/Areas/Core/Views/Mailbox/Scripts/_Mailbox.cshtml")
}
