@{
	ViewData["Title"] = "Master Bank Alias";
	ViewData["Subtitle"] = "Master Bank Alias";
}

<style>
	.dt-search > .form-control {
		display: initial;
		width: auto;
		margin-left: 5px;
	}
</style>

<div class="card">
	<div class="card-body">
		<div class="row">
			<div class="col-lg-12 text-right">
				<button id="btnCreate" class="btn btn-primary" data-toggle="modal" data-target="#bankAliasForm">
					Create
				</button>
			</div>
		</div>
		<div class="resposivetable" style="margin-top:10px">
			<table id="gridBankAlias" class="table table-bordered table-hover" style="font-size: 13px;"></table>
		</div>
	</div>
</div>
@await Html.PartialAsync("~/Areas/MasterData/Views/BankAlias/Components/_BankAliasForm.cshtml")

@section scripts {
	@await Html.PartialAsync("~/Areas/MasterData/Views/BankAlias/Scripts/_BankAlias.cshtml")
}