@{
    var loginPage = Url.Action("Index", "Login", new { area = "Account" } );
    var refreshTokenUrl = Url.Action("RefreshToken", "Login");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Expensia</title>
    <partial name="_Styles" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="Core" asp-controller="Finance" asp-action="Index">Expensia</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Expensia
        </div>
    </footer>
    <partial name="_Scripts" />
    @await RenderSectionAsync("Scripts", required: false)
    <script type="text/javascript">
        if (localStorage.getItem("accessToken") == null ||
            localStorage.getItem("expiredAt") == null ||
            localStorage.getItem("refreshToken") == null ||
            localStorage.getItem("sessionExpiredAt") == null) {
            RedirectToLogin();
        }

        const expiredAt = new Date(localStorage.getItem("expiredAt"));
        const sessionExpiredAt = new Date(localStorage.getItem("sessionExpiredAt"));

        if (new Date() >= sessionExpiredAt) {
            RedirectToLogin();
        }

        if (new Date() >= expiredAt) {
            var refreshToken = {
                "url": "@refreshTokenUrl",
                "method": "POST",
                "timeout": 0,
                "headers": {
                    "Authorization": "Bearer " + localStorage.getItem("refreshToken"),
                    "Content-Type": "application/json"
                },
            };
            $.ajax(refreshToken).done(function (response) {
                if (response.succeeded) {
                    localStorage.setItem("accessToken", response.obj.accessToken);
                    localStorage.setItem("expiredAt", response.obj.expiredAt);
                    localStorage.setItem("refreshToken", response.obj.refreshToken);
                    localStorage.setItem("sessionExpiredAt", response.obj.sessionExpiredAt);

                    window.location.reload();
                }
                else {
                    RedirectToLogin();
                }
            });
        }

        function RedirectToLogin() {
            localStorage.removeItem("accessToken");
            localStorage.removeItem("expiredAt");
            localStorage.removeItem("refreshToken");
            localStorage.removeItem("sessionExpiredAt");

            window.location.href = '@loginPage';
        }
    </script>
</body>
</html>
