<div class="modal fade" id="mdViewAttachment">
    <div class="modal-dialog md-large">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalTitle"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="divAttachment">
            </div>
        </div>
    </div>
</div>