<script type="text/javascript">
    var newdata = [
        ["John Smiths", "USA", 32, "Male", "'pepaya', 'melon', 'durian', 'kelapa'"],
        ["Emily Johnson", "Canada", 28, "Female", "'pisang', 'nanas', 'apel', 'mangga', 'melon', 'durian', 'kelapa'"],
        ["Michael Brown", "UK", 45, "Male", "'pisang', 'nanas', 'apel', 'mangga', 'jeruk', 'anggur', 'pepaya', 'melon', 'durian', 'kelapa'"],
        ["Maria Garcia", "Spain", 35, "Female", "'pisang', 'nanas', 'apel', 'mangga', 'kelapa'"],
        ["Ahmed Khan", "Pakistan", 30, "Male", "'pisang', 'nanas', 'apel', 'mangga'"],
        ["Sophie Martin", "France", 40, "Female", "'pisang', 'nanas', 'apel', 'mangga', 'jeruk', 'anggur', 'pepaya', 'melon', 'durian', 'kelapa'"],
        ["Chen Wei", "China", 29, "Male", "'pisang', 'nanas', 'apel', 'mangga', 'jeruk', 'kelapa'"],
        ["Elena Petrova", "Russia", 38, "Female", "'pisang', 'anggur', 'pepaya', 'melon', 'durian', 'kelapa'"],
        ["Diego Fernandez", "Argentina", 42, "Male", "'pisang', 'nanas', 'apel', 'mangga', 'jeruk', 'anggur', 'pepaya', 'kelapa'"],
        ["Anna Müller", "Germany", 36, "Female", "'pisang', 'nanas', 'apel','melon', 'durian', 'kelapa'"],
        ["John Smiths", "USA", 32, "Male", "'anggur', 'pepaya', 'melon', 'durian', 'kelapa'"],
        ["Emily Johnson", "Canada", 28, "Female", "'pisang', 'nanas', 'apel', 'mangga', 'melon', 'durian', 'kelapa'"],
        ["Michael Brown", "UK", 45, "Male", "'pisang', 'nanas', 'apel', 'mangga', 'jeruk', 'anggur', 'pepaya', 'melon', 'durian', 'kelapa'"],
        ["Maria Garcia", "Spain", 35, "Female", "'pisang', 'nanas', 'apel', 'mangga', 'kelapa'"],
        ["Ahmed Khan", "Pakistan", 30, "Male", "'pisang', 'nanas', 'apel', 'mangga'"],
        ["Sophie Martin", "France", 40, "Female", "'pisang', 'nanas', 'apel', 'mangga', 'jeruk', 'anggur', 'pepaya', 'melon', 'durian', 'kelapa'"],
        ["Chen Wei", "China", 29, "Male", "'pisang', 'nanas', 'apel', 'mangga', 'jeruk', 'kelapa'"],
        ["Elena Petrova", "Russia", 38, "Female", "'pisang', 'anggur', 'pepaya', 'melon', 'durian', 'kelapa'"],
        ["Diego Fernandez", "Argentina", 42, "Male", "'pisang', 'nanas', 'apel', 'mangga', 'jeruk', 'anggur', 'pepaya', 'kelapa'"],
        ["Anna Müller", "Germany", 36, "Female", "'pisang', 'nanas', 'apel','melon', 'durian', 'kelapa'"],
        ["John Smiths", "USA", 32, "Male", "'anggur', 'pepaya', 'melon', 'durian', 'kelapa'"],
        ["Emily Johnson", "Canada", 28, "Female", "'pisang', 'nanas', 'apel', 'mangga', 'melon', 'durian', 'kelapa'"],
        ["Michael Brown", "UK", 45, "Male", "'pisang', 'nanas', 'apel', 'mangga', 'jeruk', 'anggur', 'pepaya', 'melon', 'durian', 'kelapa'"],
        ["Maria Garcia", "Spain", 35, "Female", "'pisang', 'nanas', 'apel', 'mangga', 'kelapa'"],
        ["Ahmed Khan", "Pakistan", 30, "Male", "'pisang', 'nanas', 'apel', 'mangga'"],
        ["Sophie Martin", "France", 40, "Female", "'pisang', 'nanas', 'apel', 'mangga', 'jeruk', 'anggur', 'pepaya', 'melon', 'durian', 'kelapa'"],
        ["Chen Wei", "China", 29, "Male", "'pisang', 'nanas', 'apel', 'mangga', 'jeruk', 'kelapa'"],
        ["Elena Petrova", "Russia", 38, "Female", "'pisang', 'anggur', 'pepaya', 'melon', 'durian', 'kelapa'"],
        ["Diego Fernandez", "Argentina", 42, "Male", "'pisang', 'nanas', 'apel', 'mangga', 'jeruk', 'anggur', 'pepaya', 'kelapa'"],
        ["Anna Müller", "Germany", 36, "Female", "'pisang', 'nanas', 'apel','melon', 'durian', 'kelapa'"],
        ["John Smiths", "USA", 32, "Male", "'anggur', 'pepaya', 'melon', 'durian', 'kelapa'"],
        ["Emily Johnson", "Canada", 28, "Female", "'pisang', 'nanas', 'apel', 'mangga', 'melon', 'durian', 'kelapa'"],
        ["Michael Brown", "UK", 45, "Male", "'pisang', 'nanas', 'apel', 'mangga', 'jeruk', 'anggur', 'pepaya', 'melon', 'durian', 'kelapa'"],
        ["Maria Garcia", "Spain", 35, "Female", "'pisang', 'nanas', 'apel', 'mangga', 'kelapa'"],
        ["Ahmed Khan", "Pakistan", 30, "Male", "'pisang', 'nanas', 'apel', 'mangga'"],
        ["Sophie Martin", "France", 40, "Female", "'pisang', 'nanas', 'apel', 'mangga', 'jeruk', 'anggur', 'pepaya', 'melon', 'durian', 'kelapa'"],
        ["Chen Wei", "China", 29, "Male", "'pisang', 'nanas', 'apel', 'mangga', 'jeruk', 'kelapa'"],
        ["Elena Petrova", "Russia", 38, "Female", "'pisang', 'anggur', 'pepaya', 'melon', 'durian', 'kelapa'"],
        ["Diego Fernandez", "Argentina", 42, "Male", "'pisang', 'nanas', 'apel', 'mangga', 'jeruk', 'anggur', 'pepaya', 'kelapa'"],
        ["Anna Müller", "Germany", 36, "Female", "'pisang', 'nanas', 'apel','melon', 'durian', 'kelapa'"],
    ];
    var listdata = ['pisang', 'nanas', 'apel', 'mangga', 'jeruk', 'anggur', 'pepaya', 'melon', 'durian', 'kelapa'];
    
    var gridOutgoingPaymentDetail;
    var dtRequestDate, dtScheduledDate;

    $(function () {
        CreateManager = new CreateManager();
        CreateManager.InitManagement();
    });

    function CreateManager() {
        return {
            InitManagement: function () {
                this.InitControls();
                this.InitHandlers();
                this.InitValidation();
                this.InitLoad();
            },
            InitControls: function () {
                gridOutgoingPaymentDetail = $('#gridOutgoingPaymentDetail').DataTable({
                    data: newdata,
                    ordering: false,
                    columns: [
                        { title: "Name" },
                        { title: "Country" },
                        { title: "Age" },
                        { title: "Gender" },
                        {
                            title: "ListFile", width: "35%",
                            render: function (data, type, row) {
                                let listhtml = '';
                                var datacell = data.replace(/'/g, '').split(', ');

                                datacell.forEach(function (item, index) {
                                    var badgeElement = document.createElement('span');
                                    badgeElement.textContent = item + ', ';
                                    badgeElement.classList.add('badge', 'm-2');

                                    // Mengatur warna badge sesuai dengan indeks item yang berulang setiap 4 item
                                    switch (index % 4) {
                                        case 0:
                                            badgeElement.classList.add('badge-primary');
                                            break;
                                        case 1:
                                            badgeElement.classList.add('badge-success');
                                            break;
                                        case 2:
                                            badgeElement.classList.add('badge-danger');
                                            break;
                                        case 3:
                                            badgeElement.classList.add('badge-warning');
                                            break;
                                    }
                                    /*const spanclose = document.createElement("span");
                                    spanclose.innerHTML = 'x';
                                    spanclose.classList.add('pl-2');
                                    badgeElement.append(spanclose);*/
                                    listhtml += badgeElement.outerHTML;
                                });
                                return listhtml;
                            }
                        },
                        { title: "Action" }
                    ],
                    columnDefs: [{
                        targets: -1,
                        orderable: false,
                        className: 'dt-body-center',
                        render: function (data, type, full, meta) {
                            return '<button class="edit-btn btn btn-primary mr-2"><span class="fa fa-pencil"></span></button>' +
                                '<button class="delete-btn btn btn-danger mr-2"><span class="fa fa-trash"></span></button>';
                        }
                    }],
                    layout: {
                        bottomStart: function () {
                            let toolbar = document.createElement('div');
                            toolbar.classList.add("row");
                            let buttons = '<button class="btn btn-sm btn-outline-primary mr-2 ml-2">Download Summary</button>' +
                                '<button class="btn btn-sm btn-outline-primary mr-2">Download Detail</button>' +
                                '<button type="button"  class="btn btn-sm btn-primary" data-toggle="modal" data-target="#filterModal">Create</button>'
                            toolbar.innerHTML = buttons;

                            return toolbar;
                        },
                        bottomEnd: 'paging',
                        bottom2Start: 'info',
                        bottom2End: function () {
                            let toolbar = document.createElement('div');
                            toolbar.classList.add("row");
                            toolbar.classList.add("col-md-10");
                            toolbar.classList.add("pull-right");
                            let elem = '<label>Jump to page:</label>' +
                                '<input type="text" id="txtJump" class="form-control d-inline form-control-sm w-50 pull-right ml-2">';
                            toolbar.innerHTML = elem;

                            return toolbar;
                        }
                    }
                });

                dtRequestDate = $("#dtRequestDate").datepicker({
                    format: 'yyyy-mm-dd',
                    autoclose: true,
                    orientation: "bottom"
                });

                dtScheduledDate = $("#dtScheduledDate").datepicker({
                    format: 'yyyy-mm-dd',
                    autoclose: true,
                    orientation: "bottom"
                });
            },
            InitHandlers: function () {

            },
            InitValidation: function () {
            },
            InitLoad: function () {

            }
        }
    };
</script>