@using Finance.Expensia.Shared.Enums;
@using Finance.Expensia.Shared.Helpers
@{
	ViewData["Title"] = "Outgoing Payment";
	ViewData["Subtitle"] = "Outgoing Payment";
}
@await Html.PartialAsync("~/Areas/Core/Views/OutgoingPayment/Styles/_IndexCSS.cshtml")

<div class="card">
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-lg-4">
                <label>Company</label>
                <select class="form-control select2" id="ddlCompany" name="companyId"></select>
            </div>
            <div class="col-lg-4">
                <label>Status</label>
                <select class="form-control select2" id="ddlApprovalStatus">
                    <option value="">&nbsp</option>
                    @foreach (var item in Enum.GetValues(typeof(ApprovalStatus)))
                    {
                        @Html.Raw($"<option value=\"{item}\">{((ApprovalStatus)item).GetDescription()}</option>");
                    }
                </select>
            </div>
            <div class="col-lg-4">
                <label>From Bank Alias</label>
                <select class="form-control select2" id="ddlFromBankAlias"></select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-4">
                <label>StartDate</label>
                <div style="d-flex flex-column">
                    <div class="input-group date mb-2">
                        <input type="text" class="form-control datepicker" id="dtStartDate" autocomplete="off">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <label>EndDate</label>
                <div style="d-flex flex-column">
                    <div class="input-group date mb-2">
                        <input type="text" class="form-control datepicker" id="dtEndDate" autocomplete="off">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <label>Search</label>
                <input type="text" class="form-control" id="txtSearch" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-right">
                <button type="button" class="btn btn-md btn-secondary" id="btnReset">Reset Filter</button>
                <button type="button" class="btn btn-mdl btn-success" id="btnFilter">Filter + Search</button>
                <button type="button" class="btn btn-md btn-primary ml-2" id="btnCreate">Create</button>
            </div>
        </div>

        <div class="resposivetable" style="margin-top:10px">
            <table id="gridOutgoingPayment" class="table table-bordered table-hover" style="font-size: 13px;"></table>
        </div>
    </div>
</div>
<div class="modal fade" id="mdDownloadDetail">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header py-2">
                <h4 class="modal-title" id="modalTitle">Download Detail</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label>Date</label>
                <div class="d-inline-flex w-100">
                    <div class="d-flex flex-column w-100">
                        <div class="input-group mb-2">
                            <input placeholder="Start Date" type="text" class="form-control datepicker" id="dtsdDownload" autocomplete="off">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                        <span class="text-danger" style="display: none" id="sdmessage">Start date harus diisi</span>
                    </div>
                    <span class="p-1">to</span>
                    <div class="d-flex flex-column w-100">
                        <div class="input-group mb-2">
                            <input placeholder="End Date" type="text" class="form-control datepicker" id="dtedDownload" autocomplete="off">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                        <span class="text-danger" style="display: none" id="edmessage">End date harus diisi</span>
                    </div>
                </div>
                <div class="form-group justify-content-between mt-2">
                    <button type="button" class="btn btn-primary float-right ml-2" id="btnDownload">Download
                        <div id="btnloader" class="spinner-border ml-2 d-none btnloader" role="status"></div>
                    </button>
                    <button type="submit" class="btn btn-default close-button float-right" id="btnCancel" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
	@await Html.PartialAsync("~/Areas/Core/Views/OutgoingPayment/Scripts/_OutgoingPayment.cshtml")
}
