@{
    ViewData["Title"] = "Dashboard";
}

@await Html.PartialAsync("~/Areas/Core/Views/Finance/Styles/_CreateCSS.cshtml")
<div class="card">
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-lg-6">
                <label>Transaction No</label>
                <input type="text" class="form-control" id="txtTransactionNo" />
            </div>
            <div class="col-lg-6">
                <label>Filter By</label>
                <select class="form-control" id="slCompany">
                    <option></option>
                    <option>Status</option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-6">
                <label>Requestor</label>
                <input type="text" class="form-control" id="txtRequestor" />
            </div>
            <div class="col-lg-6">
                <label>Document Status</label>
                <input type="text" class="form-control" id="txtDocumentStatus" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-6">
                <label>Request Date</label>
                <div class="input-group date mb-2">
                    <input placeholder="Input Date" type="text" class="form-control datepicker" id="txtRequestDate" autocomplete="off">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="fa fa-calendar"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <label>Expected Transfer</label>
                <select class="form-control" id="slExpectedTf">
                    <option></option>
                    <option>Status</option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-6">
                <label>Remark</label>
                <input type="text" class="form-control" id="txtRemark" />
            </div>
            <div class="col-lg-6">
                <label>Scheduled Date</label>
                <div class="input-group date mb-2">
                    <input placeholder="Input Date" type="text" class="form-control datepicker" id="txtScheduledDate" autocomplete="off">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="fa fa-calendar"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-4 border-bottom border-dark"></div>
        <div class="row mb-3">
            <div class="col-lg-6">
                <label>From Bank</label>
                <select class="form-control" id="slFromBank">
                    <option></option>
                    <option>Status</option>
                </select>
            </div>
            <div class="col-lg-6">
                <label>To Bank</label>
                <select class="form-control" id="slToBank">
                    <option></option>
                    <option>Status</option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-6">
                <label>From Bank Account</label>
                <select class="form-control" id="slFromBankAccount">
                    <option></option>
                    <option>Status</option>
                </select>
            </div>
            <div class="col-lg-6">
                <label>To Bank Account</label>
                <input type="text" class="form-control" id="slToBankAccount" />
            </div>
        </div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 mb-4 border-bottom border-dark"></div>
        
        <div class="table-responsive">
            <table class="table" id="tblConsumer" aria-describedby="Tabel List Customer Consent">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Country</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>ListFile</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="filterModal" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal demo-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Filter Options</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="form-label">Status</label>
                        <div class="col-md-6">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" name="isactive" value="true">
                                    Active
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" name="isactive" value="false">
                                    Non Active
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-mdl btn-outline-success btn-fw" id="btnReset">Reset</button>
                    <button type="submit" class="btn btn-mdl btn-success" id="btnFilter">Apply</button>
                </div>
            </div>
        </div>
    </div>
</div>
<button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#filterModal">Create</button>
<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#filterModal">Creats</button>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold" id="exampleModalLabel">Add Detail</h5>
                <button type="button" class="btn btn-link text-dark" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="col-lg-12 mb-3">
                            <label>Date</label>
                            <div class="input-group date mb-2">
                                <input placeholder="Input Date" type="text" class="form-control datepicker" id="txtDate" autocomplete="off">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 mb-3">
                            <label>Partner</label>
                            <select class="form-control" id="slPartner">
                                <option></option>
                                <option>Status</option>
                            </select>
                        </div>
                        <div class="col-lg-12 mb-3">
                            <label>Description</label>
                            <input type="text" class="form-control" id="txtDescription" />
                        </div>
                        <div class="col-lg-12 mb-3">
                            <label>CoA</label>
                            <select class="form-control" id="slCoa">
                                <option></option>
                                <option>Status</option>
                            </select>
                        </div>
                        <div class="col-lg-12 mb-3">
                            <label>Cost Center</label>
                            <select class="form-control" id="slCostCenter">
                                <option></option>
                                <option>Status</option>
                            </select>
                        </div>
                        <div class="col-lg-12 mb-3">
                            <label>Amount</label>
                            <div class="input-group">
                                <label class="mr-2 pt-1">Rp. </label>
                                <input type="text" class="form-control" id="txtAmount" />
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="col-lg-12">
                            <label>Transaction No</label>
                            <input type="file" class="form-control" id="files" />
                        </div>
                        
                        <div class="col-lg-12">
                            <div class="showfilebox mt-3">
                                <div class="left">
                                    <label class="font-weight-bold">File Name</label>
                                </div>
                                <div class="right">
                                    <label class="font-weight-bold">Action</label>
                                </div>
                            </div>
                            <div id="filewrapper">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div id="badgeList"></div>

@section Scripts{
@await Html.PartialAsync("~/Areas/Core/Views/Finance/Scripts/_TableFinance.cshtml")
@await Html.PartialAsync("~/Areas/Core/Views/Finance/Scripts/_AddMultipleFile.cshtml")
}